In [1]:
import pandas as pd

In [2]:
df17 = pd.read_csv('df17.csv')
df18 = pd.read_csv('df18.csv')
df19 = pd.read_csv('df19.csv')
df20 = pd.read_csv('df20.csv')

In [3]:
df = pd.concat([df17, df18, df19, df20])

In [4]:
df.head()

,Unnamed: 0,student_id,priority,mark,status,kvota,year,specialty,university,placesCount,...,contractCount,vstup,budget_mark_mean,mark_mean,abit_count,mark_max,mark_min,budget_mark_max,budget_mark_min,position
0,0,1,1,200.0,До наказу (бюджет),None,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,True,184.054083,175.373299,214,200.0,136.249,200.0,164.888,1
1,1,2,1,200.0,До наказу (бюджет),None,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,True,184.054083,175.373299,214,200.0,136.249,200.0,164.888,2
2,2,3,3,200.0,Допущено,None,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,False,184.054083,175.373299,214,200.0,136.249,200.0,164.888,3
3,3,4,1,200.0,До наказу (бюджет),None,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,True,184.054083,175.373299,214,200.0,136.249,200.0,164.888,4
4,4,5,3,200.0,Допущено,None,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,False,184.054083,175.373299,214,200.0,136.249,200.0,164.888,5

In [5]:
df.specialty = df.specialty.str.replace('\d+', '')

C:\Users\Acer\AppData\Local\Temp/ipykernel_14824/3302241255.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.specialty = df.specialty.str.replace('\d+', '')

In [6]:
df.specialty.unique()

array(['Хімія', 'Фінанси,банківськасправатастрахування', 'Філософія',
       'Філологія', 'Фізикатаастрономія', 'Туризм', 'Соціологія',
       'Соціальнаробота', 'Підприємництво,торгівлятабіржовадіяльність',
       'Психологія', 'Прикладнафізикатананоматеріали',
       'Прикладнаматематика', 'Право', 'Облікіоподаткування',
       'НаукипроЗемлю', 'Мікро', 'Міжнародніекономічнівідносини',
       'Міжнароднівідносини,суспільнікомунікаціїтарегіональністудії',
       'Міжнароднеправо', 'Менеджмент', 'Математика', 'Маркетинг',
       'Кібербезпека', 'Комп’ютернаінженерія', "Комп'ютернінауки",
       'Економіка', 'Екологія', 'Готельно', 'Географія',
       'Біотехнологіїтабіоінженерія', 'Біологія',
       'Автоматизаціятакомп’ютерно', 'Історіятаархеологія',
       'Фізичнатерапія,ерготерапія',
       'Технологіїзахистунавколишньогосередовища', 'Теплоенергетика',
       'Телекомунікаціїтарадіотехніка',
       'Публічнеуправліннятаадміністрування', 'Прикладнамеханіка',
       'Менеджментсоціокультурноїдіяльності', 'Матеріалознавство',
       'Енергетичнемашинобудування', 'Електроніка',
       'Електроенергетика,електротехнікатаелектромеханіка',
       'Галузевемашинобудування', 'Хімічнітехнологіїтаінженерія',
       'Харчовітехнології', 'Фармація,промисловафармація',
       'Транспортнітехнології', 'Соціальнезабезпечення',
       'Системнийаналіз', 'Музеєзнавство,пам’яткознавство',
       'Метрологіятаінформаційно', 'Металургія', 'Геодезіятаземлеустрій',
       'Видавництвотаполіграфія', 'Біомедичнаінженерія',
       'Будівництвотацивільнаінженерія', 'Атомнаенергетика', 'Авіоніка',
       'Автомобільнийтранспорт', 'Інформаційнісистемитатехнології',
       'Інформаційна,бібліотечнатаархівнасправа',
       'Інженеріяпрограмногозабезпечення', 'Авіаційнатаракетно',
       'Статистика', 'Політологія', 'Культурологія', 'Журналістика',
       'Цивільнабезпека', 'Пожежнабезпека',
       'Гідротехнічнебудівництво,воднаінженеріятаводнітехнології',
       'Професійнаосвіта', 'Гірництво', 'Середняосвіта',
       'Початковаосвіта', 'Дошкільнаосвіта', 'Громадськездоров`я',
       'Нафтогазоваінженеріятатехнології', 'Спеціальнаосвіта'],
      dtype=object)

In [7]:
df = df.drop('Unnamed: 0', axis = 1)

In [8]:
df.dtypes

student_id            int64
priority             object
mark                float64
status               object
kvota                object
year                  int64
specialty            object
university           object
placesCount           int64
budgetCount           int64
contractCount         int64
vstup                  bool
budget_mark_mean    float64
mark_mean           float64
abit_count            int64
mark_max            float64
mark_min            float64
budget_mark_max     float64
budget_mark_min     float64
position              int64
dtype: object

In [9]:
df = df.drop(['student_id', 'status'], axis = 1)

In [10]:
df.priority.unique()

array(['1', '3', '2', '5', '6', '4', '9', '7', 'К', '8'], dtype=object)

In [11]:
df['priority'] = df.priority.astype('category')

In [12]:
df.kvota.unique()

array(['None', 'Квота-1', 'Квота-2'], dtype=object)

In [13]:
df.groupby('kvota').kvota.count()

kvota
None       422812
Квота-1      2009
Квота-2       201
Name: kvota, dtype: int64

In [14]:
df['kvota'] = df.kvota.astype('category')

In [15]:
df['vstup'] = df.vstup.astype('category')

In [16]:
print(df.priority.cat.codes)
print(df.priority.cat.categories)
df.priority = df.priority.cat.codes

0         0
1         0
2         2
3         0
4         2
         ..
108902    9
108903    2
108904    1
108905    2
108906    9
Length: 425022, dtype: int8
Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', 'К'], dtype='object')

In [17]:
print(df.kvota.cat.codes)
print(df.kvota.cat.categories)
df.kvota = df.kvota.cat.codes

0         0
1         0
2         0
3         0
4         0
         ..
108902    0
108903    0
108904    0
108905    0
108906    0
Length: 425022, dtype: int8
Index(['None', 'Квота-1', 'Квота-2'], dtype='object')

In [18]:
print(df.vstup.cat.codes)
print(df.vstup.cat.categories)
df.vstup = df.vstup.cat.codes

0         1
1         1
2         0
3         1
4         0
         ..
108902    0
108903    0
108904    0
108905    0
108906    0
Length: 425022, dtype: int8
Index([False, True], dtype='object')

In [19]:
pd.set_option('display.max_columns', None)

In [20]:
df['mark_mean_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'mark_mean_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).mark_mean.transform('mean')
df['mark_mean_years'] = df.groupby(['university', 'specialty']).mark_mean_years.transform('max')

df['placesCount_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'placesCount_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).placesCount.transform('mean')
df['placesCount_years'] = df.groupby(['university', 'specialty']).placesCount_years.transform('max')

df['budgetCount_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'budgetCount_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).budgetCount.transform('mean')
df['budgetCount_years'] = df.groupby(['university', 'specialty']).budgetCount_years.transform('max')

df['contractCount_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'contractCount_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).contractCount.transform('mean')
df['contractCount_years'] = df.groupby(['university', 'specialty']).contractCount_years.transform('max')

df['budget_mark_mean_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'budget_mark_mean_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).budget_mark_mean.transform('mean')
df['budget_mark_mean_years'] = df.groupby(['university', 'specialty']).budget_mark_mean_years.transform('max')

df['abit_count_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'abit_count_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).abit_count.transform('mean')
df['abit_count_years'] = df.groupby(['university', 'specialty']).abit_count_years.transform('max')

df['mark_max_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'mark_max_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).mark_max.transform('mean')
df['mark_max_years'] = df.groupby(['university', 'specialty']).mark_max_years.transform('max')

df['mark_min_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'mark_min_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).mark_min.transform('mean')
df['mark_min_years'] = df.groupby(['university', 'specialty']).mark_min_years.transform('max')

df['budget_mark_max_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'budget_mark_max_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).budget_mark_max.transform('mean')
df['budget_mark_max_years'] = df.groupby(['university', 'specialty']).budget_mark_max_years.transform('max')

df['budget_mark_min_years'] = 0
df.loc[(df.year == 2017) | (df.year == 2018), 'budget_mark_min_years'] = df[(df.year == 2017) | (df.year == 2018)].groupby(['university', 'specialty']).budget_mark_min.transform('mean')
df['budget_mark_min_years'] = df.groupby(['university', 'specialty']).budget_mark_min_years.transform('max')

In [21]:
df.head()

,priority,mark,kvota,year,specialty,university,placesCount,budgetCount,contractCount,vstup,budget_mark_mean,mark_mean,abit_count,mark_max,mark_min,budget_mark_max,budget_mark_min,position,mark_mean_years,placesCount_years,budgetCount_years,contractCount_years,budget_mark_mean_years,abit_count_years,mark_max_years,mark_min_years,budget_mark_max_years,budget_mark_min_years
0,0,200.0,0,2017,Хімія,Харківський національний університет імені В.Н...,100,51,49,1,184.054083,175.373299,214,200.0,136.249,200.0,164.888,1,177.057256,100.0,53.25641,46.74359,182.971579,196.851282,200.0,135.614949,200.0,157.429662
1,0,200.0,0,2017,Хімія,Харківський національний університет імені В.Н...,100,51,49,1,184.054083,175.373299,214,200.0,136.249,200.0,164.888,2,177.057256,100.0,53.25641,46.74359,182.971579,196.851282,200.0,135.614949,200.0,157.429662
2,2,200.0,0,2017,Хімія,Харківський національний університет імені В.Н...,100,51,49,0,184.054083,175.373299,214,200.0,136.249,200.0,164.888,3,177.057256,100.0,53.25641,46.74359,182.971579,196.851282,200.0,135.614949,200.0,157.429662
3,0,200.0,0,2017,Хімія,Харківський національний університет імені В.Н...,100,51,49,1,184.054083,175.373299,214,200.0,136.249,200.0,164.888,4,177.057256,100.0,53.25641,46.74359,182.971579,196.851282,200.0,135.614949,200.0,157.429662
4,2,200.0,0,2017,Хімія,Харківський національний університет імені В.Н...,100,51,49,0,184.054083,175.373299,214,200.0,136.249,200.0,164.888,5,177.057256,100.0,53.25641,46.74359,182.971579,196.851282,200.0,135.614949,200.0,157.429662

In [22]:
df = df.drop(['specialty', 'university'], axis = 1)

In [23]:
df = df[(df.year == 2020) | (df.year == 2019)]

In [24]:
df.year.unique()

array([2019, 2020], dtype=int64)

In [25]:
df = df.drop('year', axis = 1)

In [26]:
(df == 0).any()

priority                   True
mark                      False
kvota                      True
placesCount               False
budgetCount               False
contractCount             False
vstup                      True
budget_mark_mean          False
mark_mean                 False
abit_count                False
mark_max                  False
mark_min                  False
budget_mark_max           False
budget_mark_min           False
position                  False
mark_mean_years            True
placesCount_years          True
budgetCount_years          True
contractCount_years        True
budget_mark_mean_years     True
abit_count_years           True
mark_max_years             True
mark_min_years             True
budget_mark_max_years      True
budget_mark_min_years      True
dtype: bool

In [27]:
df[df.mark_min_years == 0].vstup.count()

4367

In [28]:
df = df[df.mark_min_years != 0]

In [29]:
(df == 0).any()

priority                   True
mark                      False
kvota                      True
placesCount               False
budgetCount               False
contractCount             False
vstup                      True
budget_mark_mean          False
mark_mean                 False
abit_count                False
mark_max                  False
mark_min                  False
budget_mark_max           False
budget_mark_min           False
position                  False
mark_mean_years           False
placesCount_years         False
budgetCount_years         False
contractCount_years       False
budget_mark_mean_years    False
abit_count_years          False
mark_max_years            False
mark_min_years            False
budget_mark_max_years     False
budget_mark_min_years     False
dtype: bool

In [30]:
df = df.drop(['placesCount', 'budgetCount', 'contractCount', 'budget_mark_mean', 'mark_mean', 'abit_count', 'mark_max', 'mark_min','budget_mark_max','budget_mark_min','position'], axis = 1)

In [31]:
df.dtypes

priority                     int8
mark                      float64
kvota                        int8
vstup                        int8
mark_mean_years           float64
placesCount_years         float64
budgetCount_years         float64
contractCount_years       float64
budget_mark_mean_years    float64
abit_count_years          float64
mark_max_years            float64
mark_min_years            float64
budget_mark_max_years     float64
budget_mark_min_years     float64
dtype: object

In [32]:
cols = list(df.columns)

In [33]:
cols.remove('priority')
cols.remove('kvota')
cols.remove('vstup')

In [34]:
cols

['mark',
 'mark_mean_years',
 'placesCount_years',
 'budgetCount_years',
 'contractCount_years',
 'budget_mark_mean_years',
 'abit_count_years',
 'mark_max_years',
 'mark_min_years',
 'budget_mark_max_years',
 'budget_mark_min_years']

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
scaler = MinMaxScaler()

In [37]:
scaler.fit(df[cols])

MinMaxScaler()

In [38]:
df[cols] = scaler.transform(df[cols])

In [39]:
df.head()

,priority,mark,kvota,vstup,mark_mean_years,placesCount_years,budgetCount_years,contractCount_years,budget_mark_mean_years,abit_count_years,mark_max_years,mark_min_years,budget_mark_max_years,budget_mark_min_years
0,3,0.995548,0,0,0.746759,0.042491,0.051154,1.143596e-08,0.991546,0.157225,1.0,0.585326,0.90961,1.0
1,0,0.986195,0,1,0.746759,0.042491,0.051154,1.143596e-08,0.991546,0.157225,1.0,0.585326,0.90961,1.0
2,9,0.982558,0,0,0.746759,0.042491,0.051154,1.143596e-08,0.991546,0.157225,1.0,0.585326,0.90961,1.0
3,2,0.977881,0,0,0.746759,0.042491,0.051154,1.143596e-08,0.991546,0.157225,1.0,0.585326,0.90961,1.0
4,3,0.974764,0,0,0.746759,0.042491,0.051154,1.143596e-08,0.991546,0.157225,1.0,0.585326,0.90961,1.0

In [40]:
from joblib import dump, load

In [41]:
dump(scaler, 'scaler.joblib')

['scaler.joblib']

In [42]:
df.to_csv('df.csv')

In [43]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('vstup',axis = 1), df.vstup, test_size = 0.25)
tree = DecisionTreeClassifier(max_depth = 10)
tree.fit(X_train, y_train)
print(tree.score(X_train, y_train))
print(tree.score(X_test, y_test))

0.9562816293077654
0.9547858327641721